<% provide(:title, "マイページ") %>
<% breadcrumb :user, @user %>
<div id="account" class="account-root">
  <div class="section user-profiles">
    <div class="user-profiles-inner">
      <div class="user-desc">
        <span class="user-display-name color_04">
          <%= @user.nickname %>
          <% if user_signed_in? %>
            <div class="follow-button">
              <% if @user.followed_by? current_user %>
                <%= link_to "フォロー解除", user_relationships_path(@user), method: :delete, class: "button color_02" %>
              <% elsif @user != current_user %>
                <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "button color_02" %>
              <% end %>
            </div>
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <div class="section nav-tab-button">
    <div class="nav-tab-button-inner">
      <p class="nav-tab-button-item router-link-exact-active router-link-active">お気に入り</p>
      <p class="nav-tab-button-item">フォロー</p>
      <p class="nav-tab-button-item">フォロワー</p>
      <p class="nav-tab-button-item">収納術</p>
    </div>
  </div>
  <ul class="section user-contents">
    <%= render 'users/favorites' %>
    <%= render 'users/follows' %>
    <%= render 'users/posts' %>
  </ul>
</div>