<ul>
    <li>
      <%= link_to user_path(@user) do %>
        <div class="text">投稿数</div>
        <div class="num"><%= @user.posts.count %></div>
      <% end %>
    </li>
    <li>
    	<%= link_to follows_user_path(@user) do %>
    		<div class="text">フォロー</div>
    		<div class="num"><%= @user.followings.count %></div>
    	<% end %>
    </li>
    <li>
    	<%= link_to followers_user_path(@user) do %>
    		<div class="text">フォロワー</div>
    		<div class="num"><%= @user.followers.count %></div>
    	<% end %>
    </li>
    <li>
      <%= link_to favorites_user_path(@user) do %>
        <div class="text">いいね一覧</div>
        <div class="num"><%= @user.favorites.count %></div>
      <% end %>     
    </li>
</ul>

<% @user.posts.each do |post| %>
    <h4 class="user">
        <span class="user-name">
          <%= link_to post.user.nickname, user_path(post.user) %>
        </span>
    </h4>
    <div class="post-explanation">
        <%= post.explanation %>
    </div>  
<% end %>