<div id="posts_new" class="bg_color01">
  <h2 class="page-title">
    <span class="page-title-span"><%= yield(:page_title) %></span>
    <span class="desc pc-only">あなたのアイデアを収納術として投稿しよう！</span>
  </h2>
  <div class="form">
    <%= form_for @post do |f| %>
      <div class="form-group main-images-group">
        <div class="main-images">
          <div class="dly-image-input-root" style="box-shadow: rgb(204, 204, 204) 0px 0px 1px;">
            <div class="preview-wrapper" style="width: 400px; height: 400px;">
              <label style="cursor: pointer;">
                <% if @post.post_image_ids.present? %>
                  <% @post.post_images.each do |image| %>
                    <%= attachment_image_tag image, :image, :fill, 400, 400, class: "preview" %>
                  <% end %>
                <% else %>
                  <%= image_tag('photo_space.jpg', class: "preview", size: "400x400") %>
                <% end %>
                <%= f.attachment_field :post_images_images, multiple: true, id: "upimage", style: "display: none;" %>
                <%= javascript_tag do %>
                  $("#upimage").upimageview('.preview');
                <% end %>
              </label>
            </div>
          </div>
        </div>
        <div class="text-labeled-input title">
          <span class="form-label required">
            収納術のタイトル
          </span>
          <%= f.text_area :post_name, id: :post_post_name, "onkeyup" => "CountDownLength('cdlength1', value, 30);", maxlength: 30, placeholder: "例）水回りの収納術", class: "input" %>
          <span id="cdlength1" class="counter">あと30文字</span>
        </div>
        <div class="text-labeled-input explanation">
          <span class="form-label required">
            収納術の説明文
          </span>
          <%= f.text_area :explanation, id: :post_explanation, "onkeyup" => "CountDownLength('cdlength2', value, 300);", maxlength: 300, placeholder: "説明文を入力してください", class: "input" %>
          <span id="cdlength2" class="counter">あと300文字</span>
        </div>
        <div class="others">
          <div class="text-labeled-input total_price">
            <span class="form-label">大体の予算（単位：円）</span>
            <%= f.number_field :total_price, id: :post_total_price, placeholder: "大体の予算を半角数字で入力してください", class: "input" %>
          </div>
          <div class="text-labeled-input category">
            <span class="form-label">カテゴリ</span>
            <%= f.select :category, Post.categories.keys.to_a, class: "dly-button-content" %>
          </div>
        </div>
      </div>
      <div class="form-group materials-group">
        <span class="form-label required">
          材料
        </span>
        <div class="materials-input-root">
          <%= f.fields_for :materials do |material| %>
            <%= render 'material_fields', f: material %>
          <% end %>
          <button class="dly-button-root add">
            <%= link_to_add_association '材料を追加する', f, :materials, data: { association_insertion_method: 'before' }, class: "dly-button-content color_01" %>
          </button>
        </div>
      </div>
      <div class="form-group steps-group">
        <span class="form-label required">
          手順
        </span>
        <div class="steps-input-root" style="counter-reset: number 0">
          <%= f.fields_for :steps do |step| %>
            <%= render 'step_fields', f: step %>
          <% end %>
          <button class="dly-button-root add">
            <%= link_to_add_association '手順を追加する', f, :steps, class: "dly-button-content color_01" %>
          </button>
        </div>
      </div>
      <div class="float-clear"></div>
      <div class="form-group tips-group">
        <div class="text-labeled-input tip">
          <span class="form-label">コツ・ポイント</span>
          <%= f.text_area :tip, id: :post_tip, "onkeyup" => "CountDownLength('cdlength3', value, 300);", maxlength: 300, placeholder: "この方法をやるにあたってのコツやポイントを教えてください", class: "input" %>
          <span id="cdlength3" class="counter">
            あと300文字
          </span>
        </div>
      </div>
      <div class="form-group reasons-group">
        <div class="text-labeled-input reason">
          <span class="form-label">この収納術の生い立ち</span>
          <%= f.text_area :reason, id: :post_reason, "onkeyup" => "CountDownLength('cdlength4', value, 300);", maxlength: 300, placeholder: "この方法を思いついたきっかけ", class: "input" %>
          <span id="cdlength4" class="counter">
            あと300文字
          </span>
        </div>
      </div>
      <hr class="separator">
      <div class="form-group agreement-group">
        <span class="strong">
          投稿内容をご確認の上、投稿してください
        </span>
      </div>
      <div class="form-group submit-group">
        <button class="dly-button-root">
          <%= f.submit 'この内容で投稿する', class: "dly-button-content bg_color02" %>
        </button>
      </div>
    <% end %>
  </div>
</div>