<%= form_with(model: post, local: true) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_name %>
    <%= f.text_field :post_name, id: :post_post_name %>
  </div>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.number_field :total_price, id: :post_total_price %>
  </div>

  <div class="field">
    <%= f.label :explanation %>
    <%= f.text_field :explanation, id: :post_explanation %>
  </div>

  <div class="field">
    <%= f.select :category, Post.categories.keys.to_a, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :material %>
    <%= f.text_field :material, id: :post_material %>
  </div>

  <div class="field">
    <%= f.label :material_quantity %>
    <%= f.number_field :material_quantity, id: :post_material_quantity %>
  </div>

  <div class="field">
    <%= f.label :tip %>
    <%= f.text_area :tip, id: :post_tip %>
  </div>

  <div class="field">
    <%= f.label :reason %>
    <%= f.text_area :reason, id: :post_reason %>
  </div>

  <div class="field">
    <%= f.attachment_field :post_images_images, multiple: true %></p>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    ユーザーID
    <%= f.collection_select :user_id, User.all, :id, :id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
