<% provide(:title, "投稿一覧") %>
<% breadcrumb :posts %>
<div id="index">
  <!-- search_box -->
  <div class="search">
    <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "タイトルで収納術を検索（部分一致）" %>
      <%= submit_tag "検索", :name => nil, class: "button bg_color02" %>
    <% end %>
  </div>
  <!-- reccomends -->
  <div id="recommend-images-header">
    <div class="recommend-images-header-inner">
      <div class="image-recommend-list">
        <div class="image-recommend-list-content">
          <a class="image-list-img" href="/posts/200" style="height: 320px; background: rgb(255, 255, 255);">
            <div class="image-list-title"><p>壁面に収納スペースを確保！<br>ワイヤーラック</p></div>
            <img alt="壁面に収納スペースを確保！ワイヤーラック" class="image-list-img" src="kitchen.jpeg" style="height: 320px; background: rgb(230, 230, 230); position: absolute; top: 0px; left: 0px; width: 320px; z-index: 1; display: block;">
          </a>
        </div>
        <div class="image-recommend-list-content">
          <a class="image-list-img" href="/posts/201" style="height: 320px; background: rgb(255, 255, 255);">
            <div class="image-list-title">
              <p>散らかった靴箱もスッキリ！<br>シューズハンガー</p>
            </div>
            <img alt="散らかった靴箱もスッキリ！シューズハンガー" class="image-list-img" src="shoebox.jpg" style="height: 320px; background: rgb(230, 230, 230); position: absolute; top: 0px; left: 0px; width: 320px; z-index: 1; display: block;">
          </a>
        </div>
        <div class="image-recommend-list-content">
          <a class="image-list-img" href="/posts/202" style="height: 320px; background: rgb(255, 255, 255);">
            <div class="image-list-title">
              <p>セリア板目表紙を仕切りに！<br>きっちり収納♪</p>
            </div>
            <img alt="セリア板目表紙を仕切りに！きっちり収納♪" class="image-list-img" src="desk.jpg" style="height: 320px; background: rgb(230, 230, 230); position: absolute; top: 0px; left: 0px; width: 320px; z-index: 1; display: block;">
          </a>
        </div>
      </div>
      <div class="float-clear"></div>
    </div>
  </div>
  <!-- new_posts -->
  <div id="content">
    <div class="content-inner">
      <% if params[:category].nil? && params[:search].nil? %>
        <div id="new_post">
          <h2 class="headline-title header-separator">新着収納術</h2>
          <div class="list">
            <% @new_posts.each do |new_post| %>
              <div class="list-content">
                <%= link_to(post_path(new_post), class: "post-link") do %>
                  <% if new_post.post_images.present? %>
                    <% new_post.post_images.each do |image| %>
                      <%= attachment_image_tag image, :image, :fill, 208, 208 %>
                    <% end %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: '208x208' %>
                  <% end %>
                  <div class="list-info pc-only">
                    <div class="list-title">
                      <p><%= new_post.post_name %></p>
                    </div>
                    <div class="list-explanation">
                      <%= truncate(new_post.explanation, length: 15) %>
                    </div>
                  </div>
                  <div class="list-title sd-only">
                    <p><%= new_post.post_name %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="float-clear"></div>
          </div>
        </div>
      <% end %>
      <!-- index -->
      <% if params[:category].nil? && params[:search].nil? %>
        <h2 class="headline-title header-separator">収納術一覧</h2>
      <% elsif params[:category].present? && @posts.empty? %>
        <p><br>指定したカテゴリの収納術はまだありません</p>
      <% elsif params[:category].present? %>
        <h2 class="headline-title header-separator"><%= @posts.first.category %>の収納術 <%= @categories.where(category: params[:category]).count %>件</h2>
      <% else %>
        <h2 class="headline-title header-separator">「<%= params[:search] %>」の検索結果</h2>
      <% end %>
      <div class="list">
        <% @posts.each do |post| %>
          <div class="list-content">
            <%= link_to(post_path(post), class: "post-link") do %>
              <% if post.post_images.present? %>
                <% post.post_images.each do |image| %>
                  <%= attachment_image_tag image, :image, :fill, 208, 208 %>
                <% end %>
              <% else %>
                <%= image_tag 'no_image.jpg', size: '208x208' %>
              <% end %>
              <div class="list-info pc-only">
                <div class="list-title">
                  <p><%= post.post_name %></p>
                </div>
                <div class="list-explanation">
                  <%= truncate(post.explanation, length: 15) %>
                </div>
              </div>
              <div class="list-title sd-only">
                <p><%= post.post_name %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="float-clear"></div>
        <%= paginate @posts %><br>
      </div>
    </div>
  </div>
  <!-- categories -->
  <div id="categories">
    <div class="category-inner">
      <h2>場所から収納術を探す</h2>
      <div class="category-block">
        <ul>
          <li>
            <%= link_to "棚 (#{@categories.where(category: '0').count})", posts_path(:category  => 0) %>
          </li>
          <li>
            <%= link_to "キッチン (#{@categories.where(category: '1').count})", posts_path(:category => 1) %>
          </li>
          <li>
            <%= link_to "トイレ (#{@categories.where(category: '2').count})", posts_path(:category => 2) %>
          </li>
          <li>
            <%= link_to "玄関 (#{@categories.where(category: '3').count})", posts_path(:category => 3) %>
          </li>
        </ul>
      </div>
      <div class="category-block">
        <ul>
          <li>
            <%= link_to "デスク (#{@categories.where(category: '4').count})", posts_path(:category => 4) %>
          </li>
          <li>
            <%= link_to "クローゼット (#{@categories.where(category: '5').count})", posts_path(:category => 5) %>
          </li>
          <li>
            <%= link_to "テーブル周り (#{@categories.where(category: '6').count})", posts_path(:category => 6) %>
          </li>
          <li>
            <%= link_to "その他 (#{@categories.where(category: '7').count})", posts_path(:category => 7) %>
          </li>
        </ul>
      </div>
      <div class="float-clear"></div>
    </div>
  </div>
  <!-- about -->
  <div id="storage-site-about">
    <div class="storage-site-about-inner">
      <h3>教えて！みんなの収納術とは</h3>
      <div class="body">教えて！みんなの収納術では、「部屋をどうにか綺麗にしたい」をテーマに、オリジナリティ溢れるみんなの部屋の片付け方を、手順を追った写真でわかりやすく紹介しています。</div>
      <h3>写真で紹介の魅力</h3>
      <div class="body">家の中の同じような部分が散らかっていて困っている人が写真を参考にこういう風に片付けたい、こうなったら今後も使いやすそうといったイメージを容易に想像できるところにあります。</div>
    </div>
  </div>
</div>