<style>
.show_box .button {
  margin: 20px auto 0;
  display: block;
  width: 200px;
  background-color: #8888bb;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  appearance: none;
  border: none;
  color: #fff;
}
</style>
<% provide(:title, "詳細") %>

<div class="show_box">

  <!-- タイトル -->
  <h1><%= @post.post_name %></h1>

  <!-- 保存ボタン -->
  <% if user_signed_in? %>
    <% if @post.favorited_by? current_user %>
      <%= link_to "レシピを削除", post_favorites_path(@post), method: :delete, class: "button" %>
    <% elsif @post.user != current_user %>
      <%= link_to "レシピを保存", post_favorites_path(@post), method: :post, class: "button" %>
    <% end %>
  <% end %>

  <!-- 画像 -->
  <% if @post.post_images.present? %>
    <% @post.post_images.each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 200, 200 %>
    <% end %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: '200x200' %>
  <% end %>

  <!-- 一言説明 -->
  <%= @post.explanation %>

  <!-- 投稿者 -->
  <%= link_to @post.user.nickname, user_path(@post.user_id) %>

  <!-- 材料,総額 -->
  <table>
    <h3>材料</h3>
    <%= @post.material %>
    <%= @post.material_quantity %>
  </table>
  <%= @post.total_price %>

  <!-- 工程 -->
  <!-- これから作る -->

  <!-- コツ・ポイント -->
  <h3>コツ・ポイント</h3>
  <%= @post.tip %>

  <!-- このレシピの生い立ち -->
  <h3>このレシピの生い立ち</h3>
  <%= @post.reason %>

  <!-- ID・公開日・更新日 -->
  <small>レシピID：<%= @post.id %> 作成日：<%= @post.created_at %> 更新日：<%= @post.updated_at %></small>

  <!-- コメント入力欄 -->
  <h3>コメント (<%= @post.comments.count %>)</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user.nickname %></strong>
        <br />
        <p><%= comment.body %></p>
        <% if user_signed_in? && comment.user == current_user %>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete %></p>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% end %>

  <!-- カテゴリ -->
  <h4>このレシピが登録されているカテゴリ</h4>
  <%= @post.category %>
</div>

<p>
  <% if user_signed_in? %>
    <% if @post.user.followed_by? current_user %>
      <%= link_to "フォロー解除", user_relationships_path(@post.user), method: :delete %>
    <% elsif @post.user != current_user %>
      <%= link_to "フォロー", user_relationships_path(@post.user), method: :post %>
    <% end %>
  <% end %>
</p>

<% if user_signed_in? %>
  <% if current_user.id == @post.user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に削除しますか？' } %> | 
  <% end %>
<% end %>
<%= link_to 'Back', posts_path %>