<% breadcrumb :post, @post %>
<% provide(:title, "詳細") %>
<div id="images_show">
  <div class="content">
    <div class="content-inner">
      <!-- images -->
      <div class="image-content">
        <% if @post.post_images.present? %>
          <% @post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 560, 560 %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
      </div>
      <!-- title -->
      <h1 class="headline-title"><%= @post.post_name %><small>by <%= link_to @post.user.nickname, user_path(@post.user_id) %> さん</small></h1>
      <!-- explanation -->
      <p class="explanation">
        <%= @post.explanation %>
      </p>
      <!-- sns, favorites -->
      <div class="favorite">
        <div class="favorite-button">
          <% if user_signed_in? && @post.user != current_user %>
            <% if @post.favorited_by? current_user %>
              <%= link_to "お気に入りを解除", post_favorites_path(@post), method: :delete, class: "button color_02" %>
            <% else %>
              <%= link_to "♡お気に入り", post_favorites_path(@post), method: :post, class: "button color_02" %>
            <% end %>
            <div id="social_buttons">
              <%= social_share_button_tag(@post.post_name) %>
            </div>
          <% end %>
        </div>        
      </div>
      <div class="horizonal-separator"></div>
      <!-- materials -->
      <div class="material">
        <h2 class="headline-title">材料</h2>
        <ul>        
          <% @post.materials.each_with_index do |material, i| %>
            <% unless material.material_name.empty? %>
              <li>
                <span class="material-title"><%= i + 1 %>. <%= material.material_name %></span>
                <span class="material-quantity"><%= material.material_quantity %></span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <!-- total_price -->
      <div class="total_price">
        <h2 class="headline-title">合計金額</h2>
        <div class="total_price-number">
          <%= @post.total_price %>円
        </div>
      </div>
      <!-- steps -->
      <div class="steps">
        <h2 class="headline-title">手順</h2>
        <ol>
          <% @post.steps.each_with_index do |step, i| %>
            <% unless step.step_explanation.empty? %>
              <li>
                <div class="step_image">
                  <%= attachment_image_tag step, :step_image, :fill, 136, 142 %>
                </div>
                <div class="sort_order">
                  <%= i + 1 %>. 
                </div>
                <div class="body">
                  <%= step.step_explanation %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div>
      <!-- tips -->
      <div class="tips">
        <h2 class="headline-title">コツ・ポイント</h2>
        <div class="tip-description"><%= @post.tip %></div>
      </div>
      <!-- reasons -->
      <div class="reasons">
        <h2 class="headline-title">この収納術の生い立ち</h2>
        <div class="reason-description"><%= @post.reason %></div>
      </div>
      <!-- comments -->
      <div class="comments">
        <h2 class="headline-title">コメント (<%= @post.comments.count %>)</h2>
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <div class="image-comment-list-content">
              <div class="image-comment-list-info">
                <div class="display-name">
                  <%= link_to comment.user.nickname, user_path(comment.user) %>    
                </div>
                <div class="body">
                  <span><%= comment.body %></span><br>
                </div>
                <div class="published-date">
                  <%= time_ago_in_words(comment.created_at) %>前
                </div>
                <% if user_signed_in? && comment.user == current_user %>
                  <p><%= link_to '削除', comment_path(comment), method: :delete, data: { confirm: 'コメントを削除しますか？' } %></p>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="float-clear"></div>
        <% else %>
          <p>コメントがありません。</p>
        <% end %>
        <% if user_signed_in? %>
          <%= render 'comments/form' %>
        <% end %>
      </div>
      <!-- categories -->
      <div class="related-categories">
        <h2 class="headline-title">この収納術が登録されているカテゴリ</h2>
        <div class="related-category">
          <%= link_to "#{@post.category}", posts_path(:category => @post.category) %>
        </div>
      </div>
      <% if user_signed_in? %>
        <% if current_user.admin? || current_user.id == @post.user.id %>
          <%= link_to '編集', edit_post_path(@post) %> |
          <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>