<style>
  
</style>
<header class="navbar navbar-inverse navbar-fixed-top white">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span>
        <span class="icon-bar" style="background-color: white;"></span>
      </button>
      <a class="navbar-brand" href="/posts">
        <img class="img-responsive middle" src="/logo.png" alt="logo" id="logo">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" id="top-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to(edit_user_registration_path) do %>
              <span>Profiles</span>
              <br>プロフィール
            <% end %>
          </li>
          <li>
            <%= link_to(destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}) do %>
              <span>Logout</span>
              <br>ログアウト
            <% end %>
          </li>
          <li>
            <%= link_to(new_post_path) do %>
              <span>NewPost</span>
              <br>新規投稿
            <% end %>
          </li>
          <li>
            <%= link_to(posts_path) do %>
              <span>Index</span>
              <br>収納術一覧
            <% end %>
          </li>
          <li>
            <%= link_to(user_path(current_user)) do %>
              <span>MyPage</span>
              <br>マイページ
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to(destroy_admin_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}) do %>
              <span>Logout</span>
              <br>ログアウト
            <% end %>
          </li>
          <li>
            <%= link_to(users_path) do %>
              <span>Users</span>
              <br>ユーザー一覧
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to(new_user_registration_path) do %>
              <span>Signup</span>
              <br>会員登録
             <% end %>
          </li>
          <li>
            <%= link_to(new_user_session_path) do %>
              <span>Login</span>
              <br>ログイン
            <% end %>
          </li>
          <li>
            <%= link_to(new_admin_session_path) do %>
              <span>Admin</span>
              <br>管理者用
            <% end %>
          </li>
          <li>
            <%= link_to(posts_path) do %>
              <span>Index</span>
              <br>収納術一覧
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>