<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="main">
      <div id="breadcrumb">
        <div class="breadcrumb-inner"><%= breadcrumbs separator: " &rsaquo; " %></div>
      </div>
      <div class="wrapper">
        <% if flash[:notice] %>
            <div class="flash bg_color02 color_01">
                <%= flash[:notice] %>
            </div>
        <% end %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
  	</div>
  </body>
</html>