<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <!-- スクリプトファイル -->
    <!-- 入力欄の文字数カウントダウン -->
    <script type="text/javascript">function CountDownLength( idn, str, mnum ) {
    document.getElementById(idn).innerHTML = "あと" + (mnum - str.length) + "文字";
    }</script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="main">

      <div id="breadcrumb">
        <div class="breadcrumb-inner"><%= breadcrumbs separator: " &rsaquo; " %></div>
      </div>
      <div class="wrapper">
    	  <%= yield %>
      </div>

      <%= render "layouts/footer" %>
  	</div>
  </body>
</html>