<!DOCTYPE html>
<html>
  <head>
    <title>StorageSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if user_signed_in? %>
  		<%= current_user.nickname %>さん
  		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% elsif admin_signed_in? %>
      管理者：<%= current_admin.nickname %>さんとしてログインしています
  	<% else %>
  		<%= link_to "新規登録", new_user_registration_path %> | <%= link_to "ログイン", new_user_session_path %>
  	<% end %>
    <%= yield %>
  </body>
</html>
