<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="main" style="z-index: 1;">
    	<%= yield %>
  	</div>
    <%= render "layouts/footer2" %>
  </body>
</html>