<% provide(:title, "プロフィール変更") %>
<% breadcrumb :edit_user %>
<div id="registrations_edit" class="bg_color01">
  <div class="registration-edit-inner">
    <h2 class="page-title">プロフィール変更</h2>
    <div class="input-items">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="text-labeled-input">
          <span class="label color_03">ニックネーム</span>
          <%= f.text_field :nickname, autofocus: true, class: "input" %>
        </div>
        <div class="text-labeled-input">
          <span class="label color_03">メールアドレス</span>
          <%= f.email_field :email, autocomplete: "email", placeholder: "sample@email.com", class: "input" %>
        </div>
        <div class="text-labeled-input">
          <span class="label color_03">ログイン時のパスワード</span>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "ログイン時のパスワードを入力してください", class: "input" %>
        </div>
        <button class="dly-button-root action-button primary color_01">
          <%= f.submit "プロフィールを変更する", class: "dly-button-content bg_color02" %>
        </button>
      <% end %>
      <button class="dly-button-root action-button primary">
        <%= link_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか？" }, method: :delete, class: "dly-button-content color_01 bg_color04" %>
      </button>
    </div>
  </div>
</div>